/*General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;

    font-size: 100%;
}
a {
    text-decoration: none;

}
.container {
    width:85%;
    margin:0 auto;
}

/*Header Styles */
#schoolName {
    background:#ffd200;
    padding:10px;
}
#schoolName img {
width:250px;
}

#labName {
    background:#0064a4;
    height:70px;
    padding: 10px 0;
}
#labName h1 {
    float:left;
    margin:0;
    line-height: 70px;
    color:white;
    font-size: 50px;
    padding:0 25px 0 10px;
    border-right: 7px solid white;

}
#labName h3 {
    float:left;
    color:white;
    margin:0 0 0 25px;
    line-height: 70px;
    font-size: 20px;
}

@media only screen and (max-width:900px) {
    #labName {
        height: auto;
    }
    #labName h1 {
        float:none;
        border:none;
        font-size: 30px;
        line-height:normal;
        margin:5px;
        padding:5px;
    }
    #labName h3 {
        float:none;
        font-size: 20px;
        margin:5px;
        padding:5px;
        line-height:normal;
    }
}
header .banner {
    text-align:center;
    position:relative
    overflow:auto;
}
header .banner li {list-style: none;}
header .banner ul li { float:left;}

header .banner img  {
    width:100%;
    margin:0 auto;

}
/*nav Styles */
#mainNav ul {
    padding:0;
    margin:10px auto;
    list-style: none;
    height:25px;
    border-bottom:1px dotted #c6beb5;

}
#mainNav li {
    display:block;
    float:left;
    height:25px;
    margin-right:25px;

}
#mainNav a {
     display:block;
     color:#555759;
     text-transform: uppercase;
     font-weight: bold;
     line-height:25px;
 }
#mainNav a:hover {
    color:#c6beb5;
}
#mainNav a:active {
    color:#6aa2b8;
}
#mainNav a.current {
    color:#6aa2b8;
}

/*Column Styles */
#left_col {
    float:left;
    width:70%;
    margin-top:10px;
    border-right:1px dotted #c6beb5;
    padding:10px;
}
#right_aside {
    float:left;
    padding-left: 10px;
    width:26%;
}
/*Aside Styles */
#right_aside section h2 {
    border-bottom: 1px dotted #c6beb5;
    padding-bottom:5px;
    font-size: 20px;
}
#right_aside section.contact p {
    font-size: 13px;
    line-height:10px;
}#right_aside #anouncements ul {
    list-style: none;
    padding:0;
 }

#right_aside #anouncements ul li {
    padding:5px;
    font-size: 12px;
    border-bottom:2px dotted #0064a4;


  }
/*Research Styles */
#research > section.show {
    display:block;
}
#research > section {
    display:none;
}


/*People Styles */
#pi,#grad_students,#alumni {
    border-bottom: 1px dotted #c6beb5;
}
#people  h1 {
    font-size: 2.5em;
}
#people > article h2 {
    font-size: 1.5em;
}
#people section.profile {
    margin: 15px 0;
}
#people section.profile h2 {
    font-size: 1.5em;
}
#people section.profile h3 {
    font-size: 1.3em;
    margin:0 0 15px 0;
}
#people section.profile img.person_image {
    float:left;
    margin:0 15px 15px 0;
    border:1px solid black;
}

#people #pi section.profile img.person_image {
    width:35%;
}
#people #grad_students section.profile img.person_image {
    width:25%;
}


/*Publication Styles */

#publication h1 {
font-size: 2em;
}
#publication h2 {
    font-size: 1.5em;
}
#publication section.year ul li {
    margin:10px 0;
    line-height: 20px;
}
#publication section.year ul span.title {
    font-style: italic;

}
#publication section.year ul span.journal {
    font-weight:bold;
}
#publication section.year a {
    color:#0064a4;
    font-weight: bold;
}

/*Footer Styles */
#main_footer {
    clear:both;
    width:100%;
    height:50px;
    background:#0064a4;
}
#main_footer p {
    color:#ffd200;
    line-height: 50px;
    font-weight: bold;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}